{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pocket DU</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}{% endblock css %}
    </head>
    <body>
        <div>
            <!-- START - content section -->
            <div class="content-container container-fluid">
                {% block content_block %}{% endblock content_block %}
            </div>
            <!-- END - content section -->
        </div>

        <!-- START - load scripts at bottom -->
        {% block js %}{% endblock js %}
        <!-- END - load scripts at bottom -->
    </body>
</html>
