{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<style type="text/css">
    .content-container { padding: 0px; }
    .important-dates tr td:nth-child(2){ width: 30%; }
    .tab-heading{ background-color: #9866AD; font-size: 14px; color: #fff; padding: 10px; border-bottom: 1px solid #B1A7A7;}
    .tab-heading::after{ width: 10px; height: 10px; content: ""; background-color: transparent; position: absolute; right: 13px; margin-top: 3px; border: 3px solid #fff; transform: rotate(45deg); border-top: transparent; border-left: transparent; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out; display: none; }
    .tab-heading.active::after{ margin-top: 6px; transform: rotate(225deg); }
</style>
{% endblock css %}

{% block content_block %}

<div id="accordion">
    {% for each_table in data %}
        <div class="tab-heading active" data-toggle="#collapse_{{ forloop.counter }}"><b>{{ each_table.name }}</b></div>
        <div id="collapse_{{ forloop.counter }}" class="tab-collapse">
            <table class="important-dates table table-striped table-bordered">
                {% for each_row in each_table.data %}
                    <tr>
                        <td>{{ each_row.title }}</td>
                        <td>{{ each_row.date|date:"D d M Y" }} 
                            {% if each_row.date|time:"H:i" != "00:00" %}({{ each_row.date|time:"h a" }}){% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
</div>

{% endblock content_block %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
    $("#accordion").on('click', '.tab-heading', function() {
        $($(this).attr("data-toggle")).slideToggle();
        if ($(this).hasClass("active")){
            $(this).removeClass("active");
        }else{
            $(this).addClass("active");
        }
    });
</script>
{% endblock js %}
